<div class="chart-type-selector">
  <label class="selector-label">Chart Type:</label>
  <div class="radio-group">
    <label
      *ngFor="let type of chartTypes"
      [class.selected]="type.value === selectedType"
      class="radio-option"
    >
      <input
        type="radio"
        [value]="type.value"
        [checked]="type.value === selectedType"
        (change)="onTypeSelect(type.value)"
        name="chartType"
      />
      <span class="radio-label">{{ type.label }}</span>
    </label>
  </div>
</div>
